{% extends "user_app/components/base.html" %}
{% load static %}
{% block content %}
<!-- ne tranding slider Start -->
<div class="ne_ts_main_section_wrapper hidden-xs">
    <div class="container">
        <div class="ne_ts_inner_wrapper">
            <div class="ne_tran_label_wrapper">
                <h3>Trending</h3>
            </div>
            <div class="ne_tranding_slider_wrapper">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="ne_ts_inner_content">
                            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh</p>
                            <h3 class="hidden-sm"><i class="fa fa-calendar"></i> &nbsp;25 OCT, 2017</h3>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ne_ts_inner_content">
                            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh</p>
                            <h3 class="hidden-sm"><i class="fa fa-calendar"></i> &nbsp;25 OCT, 2017</h3>
                        </div>
                    </div>
                    <div class="item">
                        <div class="ne_ts_inner_content">
                            <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh</p>
                            <h3 class="hidden-sm"><i class="fa fa-calendar"></i> &nbsp;25 OCT, 2017</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--slider wrapper start-->




<!--0 news Start-->
<div class="ne_recent_news_main_wrapper space-t">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="ne_recent_left_side_wrapper">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="ne_busness_main_slider_wrapper www">
                                        <div class="ne_recent_heading_main_wrapper">
                                            <h2>Latest Release</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="ne_sport_slider_wrapper">
                                        <div class="owl-carousel owl-theme">
                                            <div class="item">
                                                <div class="row">
                                                    {% for latest_release in latest_releases_one %}
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-1">
                                                            <div class="ne_wn_img_main_wrapper yellow">
                                                                <div class="ne_wn_img_overlay"></div>
                                                                <h2>new</h2>
                                                                <div class="ne_wn_social_inner_wrapper">
                                                                    <h3><a href="#">{{ latest_release.title }}</a></h3>
                                                                    <ul class="ne_wn_social1_wrapper">
                                                                        <li data-animation="animated fadeInLeft"><a
                                                                                href="#"><i class="fa fa-calendar"></i>
                                                                                &nbsp;25 OCT, 2017</a>
                                                                        </li>
                                                                        <li data-animation="animated fadeInLeft"><a
                                                                                href="#"><i class="fa fa-clock-o"></i>
                                                                                &nbsp;07 : 00 am</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    {% endfor %}
                                                    
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="row">
                                                    {% for latest_release in latest_releases_two %}
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-1">
                                                            <div class="ne_wn_img_main_wrapper yellow">
                                                                <div class="ne_wn_img_overlay"></div>
                                                                <h2>new</h2>
                                                                <div class="ne_wn_social_inner_wrapper">
                                                                    <h3><a href="#">{{ latest_release.title }}</a></h3>
                                                                    <ul class="ne_wn_social1_wrapper">
                                                                        <li data-animation="animated fadeInLeft"><a
                                                                                href="#"><i class="fa fa-calendar"></i>
                                                                                &nbsp;25 OCT, 2017</a>
                                                                        </li>
                                                                        <li data-animation="animated fadeInLeft"><a
                                                                                href="#"><i class="fa fa-clock-o"></i>
                                                                                &nbsp;07 : 00 am</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                    {% endfor %}
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
            <!-------------------------------------------------->

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="ne_indx_sidebar_main_wrapper">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="ne_sidebar_inner_social_wrapper ne_sidebar_second_inner_social_wrapper">
                                <div class="ne_recent_heading_main_wrapper font_18px">
                                    <h2>Advertising</h2>
                                </div>
                                <div class="ne_sidebar_advertize_main_wrapper">
                                    <a href="#">
                                        <img src="{% static 'user_app/images/content/advertiz.jpg' %}" alt="img">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="ne_sidebar_inner_social_wrapper ne_sidebar_second_inner_social_wrapper">
                                <div class="ne_recent_heading_main_wrapper font_18px">
                                    <h2>Advertising</h2>
                                </div>
                                <div class="ne_sidebar_advertize_main_wrapper">
                                    <a href="#">
                                        <img src="{% static 'user_app/images/content/advertiz.jpg' %}" alt="img">
                                    </a>
                                </div>
                            </div>
                        </div>

                        



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--0 news End-->


<!--1 news Start-->
<div class="ne_recent_news_main_wrapper space-t">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="ne_recent_left_side_wrapper">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="ne_busness_main_slider_wrapper">
                                        <div class="ne_recent_heading_main_wrapper">
                                            <h2>Location and Reports</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="ne_sport_slider_wrapper">
                                        <div class="owl-carousel owl-theme">
                                            <div class="item">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="ne_re_left_top_main_wrapper">
                                                            <div
                                                                class="ne_re_left_img_main_wrapper ne_re_left_img_main_wrapper2">
                                                                <img src="{% static 'user_app/images/content/sp1.jpg' %}"
                                                                    alt="img">
                                                                <h2>Sport</h2>
                                                            </div>
                                                            <div class="ne_re_left_img_cont_main_wrapper">
                                                                <h3><a href="#">Award of the year</a></h3>
                                                                <ul class="ne_re_social1_wrapper">
                                                                    <li data-animation="animated fadeInLeft"><a
                                                                            href="#"><i class="fa fa-calendar"></i>
                                                                            &nbsp;25 OCT, 2017</a>
                                                                    </li>
                                                                    <li data-animation="animated fadeInLeft"><a
                                                                            href="#"><i class="fa fa-clock-o"></i>
                                                                            &nbsp;07 : 00 am</a>
                                                                    </li>
                                                                </ul>
                                                                <p>Aenean sollicitudin, lorem quis bibendum auctor,
                                                                    nisi elit consequat ipsum, nec sagittis sem nibh
                                                                    id elit.</p>
                                                                <ul class="ne_re_social2_wrapper qqq">
                                                                    <li data-animation="animated fadeInLeft"><a
                                                                            href="#"><i class="fa fa-thumbs-up"></i>
                                                                            &nbsp;5124 Like</a>
                                                                    </li>
                                                                    <li data-animation="animated fadeInLeft"><a
                                                                            href="#"><i class="fa fa-comments"></i>
                                                                            &nbsp;645 Comments</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div
                                                            class="ne_re_left_bottom_main_wrapper ne_re_left_bottom_main_wrapper_top">
                                                            <div class="ne_re_bottom_img">
                                                                <img src="{% static 'user_app/images/content/sp2.jpg' %}"
                                                                    alt="rs_img">
                                                            </div>
                                                            <div class="ne_re_bottom_img_cont">
                                                                <h3><a href="#">These Are the 10 Color</a></h3>
                                                                <p><a href="#"><i class="fa fa-calendar"></i>
                                                                        &nbsp;25 OCT, 2017</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="ne_re_left_bottom_main_wrapper">
                                                            <div class="ne_re_bottom_img">
                                                                <img src="{% static 'user_app/images/content/sp3.jpg' %}"
                                                                    alt="rs_img">
                                                            </div>
                                                            <div class="ne_re_bottom_img_cont">
                                                                <h3><a href="#">
                                                                        Hands on with the Apple </a></h3>
                                                                <p><a href="#"><i class="fa fa-calendar"></i>
                                                                        &nbsp;25 OCT, 2017</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="ne_re_left_bottom_main_wrapper">
                                                            <div class="ne_re_bottom_img">
                                                                <img src="{% static 'user_app/images/content/sp4.jpg' %}"
                                                                    alt="rs_img">
                                                            </div>
                                                            <div class="ne_re_bottom_img_cont">
                                                                <h3><a href="#">Google shifting threatens </a></h3>
                                                                <p><a href="#"><i class="fa fa-calendar"></i>
                                                                        &nbsp;25 OCT, 2017</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="ne_re_left_bottom_main_wrapper">
                                                            <div class="ne_re_bottom_img">
                                                                <img src="{% static 'user_app/images/content/sp5.jpg' %}"
                                                                    alt="rs_img">
                                                            </div>
                                                            <div class="ne_re_bottom_img_cont">
                                                                <h3><a href="#">Tesla just lost its head </a></h3>
                                                                <p><a href="#"><i class="fa fa-calendar"></i>
                                                                        &nbsp;25 OCT, 2017</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="ne_re_left_top_main_wrapper">
                                                            <div
                                                                class="ne_re_left_img_main_wrapper ne_re_left_img_main_wrapper2">
                                                                <img src="{% static 'user_app/images/content/sp1.jpg' %}"
                                                                    alt="img">
                                                                <h2>Sport</h2>
                                                            </div>
                                                            <div class="ne_re_left_img_cont_main_wrapper">
                                                                <h3><a href="#">The clock is ticking </a></h3>
                                                                <ul class="ne_re_social1_wrapper">
                                                                    <li data-animation="animated fadeInLeft"><a
                                                                            href="#"><i class="fa fa-calendar"></i>
                                                                            &nbsp;25 OCT, 2017</a>
                                                                    </li>
                                                                    <li data-animation="animated fadeInLeft"><a
                                                                            href="#"><i class="fa fa-clock-o"></i>
                                                                            &nbsp;07 : 00 am</a>
                                                                    </li>
                                                                </ul>
                                                                <p>Aenean sollicitudin, lorem quis bibendum auctor,
                                                                    nisi elit consequat ipsum, nec sagittis sem nibh
                                                                    id elit.</p>
                                                                <ul class="ne_re_social2_wrapper qqq">
                                                                    <li data-animation="animated fadeInLeft"><a
                                                                            href="#"><i class="fa fa-thumbs-up"></i>
                                                                            &nbsp;5124 Like</a>
                                                                    </li>
                                                                    <li data-animation="animated fadeInLeft"><a
                                                                            href="#"><i class="fa fa-comments"></i>
                                                                            &nbsp;645 Comments</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div
                                                            class="ne_re_left_bottom_main_wrapper ne_re_left_bottom_main_wrapper_top">
                                                            <div class="ne_re_bottom_img">
                                                                <img src="{% static 'user_app/images/content/sp2.jpg' %}"
                                                                    alt="rs_img">
                                                            </div>
                                                            <div class="ne_re_bottom_img_cont">
                                                                <h3><a href="#">These Are the 10 Color</a></h3>
                                                                <p><a href="#"><i class="fa fa-calendar"></i>
                                                                        &nbsp;25 OCT, 2017</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="ne_re_left_bottom_main_wrapper">
                                                            <div class="ne_re_bottom_img">
                                                                <img src="{% static 'user_app/images/content/sp3.jpg' %}"
                                                                    alt="rs_img">
                                                            </div>
                                                            <div class="ne_re_bottom_img_cont">
                                                                <h3><a href="#">
                                                                        Hands on with the Apple </a></h3>
                                                                <p><a href="#"><i class="fa fa-calendar"></i>
                                                                        &nbsp;25 OCT, 2017</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="ne_re_left_bottom_main_wrapper">
                                                            <div class="ne_re_bottom_img">
                                                                <img src="{% static 'user_app/images/content/sp4.jpg' %}"
                                                                    alt="rs_img">
                                                            </div>
                                                            <div class="ne_re_bottom_img_cont">
                                                                <h3><a href="#">Google shifting threatens </a></h3>
                                                                <p><a href="#"><i class="fa fa-calendar"></i>
                                                                        &nbsp;25 OCT, 2017</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="ne_re_left_bottom_main_wrapper">
                                                            <div class="ne_re_bottom_img">
                                                                <img src="{% static 'user_app/images/content/sp5.jpg' %}"
                                                                    alt="rs_img">
                                                            </div>
                                                            <div class="ne_re_bottom_img_cont">
                                                                <h3><a href="#">Tesla just lost its head </a></h3>
                                                                <p><a href="#"><i class="fa fa-calendar"></i>
                                                                        &nbsp;25 OCT, 2017</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="ne_re_left_top_main_wrapper">
                                                            <div
                                                                class="ne_re_left_img_main_wrapper ne_re_left_img_main_wrapper2">
                                                                <img src="{% static 'user_app/images/content/sp1.jpg' %}"
                                                                    alt="img">
                                                                <h2>Sport</h2>
                                                            </div>
                                                            <div class="ne_re_left_img_cont_main_wrapper">
                                                                <h3><a href="#">The clock is ticking </a></h3>
                                                                <ul class="ne_re_social1_wrapper">
                                                                    <li data-animation="animated fadeInLeft"><a
                                                                            href="#"><i class="fa fa-calendar"></i>
                                                                            &nbsp;25 OCT, 2017</a>
                                                                    </li>
                                                                    <li data-animation="animated fadeInLeft"><a
                                                                            href="#"><i class="fa fa-clock-o"></i>
                                                                            &nbsp;07 : 00 am</a>
                                                                    </li>
                                                                </ul>
                                                                <p>Aenean sollicitudin, lorem quis bibendum auctor,
                                                                    nisi elit consequat ipsum, nec sagittis sem nibh
                                                                    id elit.</p>
                                                                <ul class="ne_re_social2_wrapper qqq">
                                                                    <li data-animation="animated fadeInLeft"><a
                                                                            href="#"><i class="fa fa-thumbs-up"></i>
                                                                            &nbsp;5124 Like</a>
                                                                    </li>
                                                                    <li data-animation="animated fadeInLeft"><a
                                                                            href="#"><i class="fa fa-comments"></i>
                                                                            &nbsp;645 Comments</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                        <div
                                                            class="ne_re_left_bottom_main_wrapper ne_re_left_bottom_main_wrapper_top">
                                                            <div class="ne_re_bottom_img">
                                                                <img src="{% static 'user_app/images/content/sp2.jpg' %}"
                                                                    alt="rs_img">
                                                            </div>
                                                            <div class="ne_re_bottom_img_cont">
                                                                <h3><a href="#">These Are the 10 Color</a></h3>
                                                                <p><a href="#"><i class="fa fa-calendar"></i>
                                                                        &nbsp;25 OCT, 2017</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="ne_re_left_bottom_main_wrapper">
                                                            <div class="ne_re_bottom_img">
                                                                <img src="{% static 'user_app/images/content/sp3.jpg' %}"
                                                                    alt="rs_img">
                                                            </div>
                                                            <div class="ne_re_bottom_img_cont">
                                                                <h3><a href="#">
                                                                        Hands on with the Apple </a></h3>
                                                                <p><a href="#"><i class="fa fa-calendar"></i>
                                                                        &nbsp;25 OCT, 2017</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="ne_re_left_bottom_main_wrapper">
                                                            <div class="ne_re_bottom_img">
                                                                <img src="{% static 'user_app/images/content/sp4.jpg' %}"
                                                                    alt="rs_img">
                                                            </div>
                                                            <div class="ne_re_bottom_img_cont">
                                                                <h3><a href="#">Google shifting threatens </a></h3>
                                                                <p><a href="#"><i class="fa fa-calendar"></i>
                                                                        &nbsp;25 OCT, 2017</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="ne_re_left_bottom_main_wrapper">
                                                            <div class="ne_re_bottom_img">
                                                                <img src="{% static 'user_app/images/content/sp5.jpg' %}"
                                                                    alt="rs_img">
                                                            </div>
                                                            <div class="ne_re_bottom_img_cont">
                                                                <h3><a href="#">Tesla just lost its head </a></h3>
                                                                <p><a href="#"><i class="fa fa-calendar"></i>
                                                                        &nbsp;25 OCT, 2017</a>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
            <!-------------------------------------------------->

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="ne_indx_sidebar_main_wrapper">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="ne_sidebar_inner_social_wrapper ne_sidebar_second_inner_social_wrapper">
                                
                                <div class="" style="margin-top: 30px;">
                                    <a href="#">
                                        <img src="{% static 'user_app/images/content/advertiz.jpg' %}" alt="img">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="ne_sidebar_inner_social_wrapper ne_sidebar_second_inner_social_wrapper">
                                
                                <div class="">
                                    <a href="#">
                                        <img src="{% static 'user_app/images/content/advertiz.jpg' %}" alt="img">
                                    </a>
                                </div>
                            </div>
                        </div>

                        



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--1 news End-->

<!--2 news start-->
<div class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ne_recent_left_side_wrapper">
                    <div class="row">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="ne_busness_main_slider_wrapper">
                                        <div class="ne_recent_heading_main_wrapper">
                                            <h2>Meet the Person</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="ne_businees_slider_wrapper">
                                        <div class="owl-carousel owl-theme">
                                            <div class="item">
                                                <div class="ne_re_left_top_main_wrapper">
                                                    <div class="ne_re_left_img_main_wrapper">
                                                        <img src="{% static 'user_app/images/content/sp1.jpg' %}"
                                                            alt="img">
                                                        <h2>business</h2>
                                                    </div>
                                                    <div
                                                        class="ne_re_left_img_cont_main_wrapper ne_buss_img_cont_main_wrapper">
                                                        <h3><a href="#">Proin gravida nibh
                                                                vel velit auctor.</a></h3>
                                                        <ul class="ne_re_social1_wrapper">
                                                            <li data-animation="animated fadeInLeft"><a href="#"><i
                                                                        class="fa fa-calendar"></i> &nbsp;25 OCT,
                                                                    2017</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="ne_re_left_top_main_wrapper">
                                                    <div class="ne_re_left_img_main_wrapper">
                                                        <img src="{% static 'user_app/images/content/sp1.jpg' %}"
                                                            alt="img">
                                                        <h2>team work</h2>
                                                    </div>
                                                    <div
                                                        class="ne_re_left_img_cont_main_wrapper ne_buss_img_cont_main_wrapper">
                                                        <h3><a href="#">Proin gravida nibh
                                                                vel velit auctor.</a></h3>
                                                        <ul class="ne_re_social1_wrapper">
                                                            <li data-animation="animated fadeInLeft"><a href="#"><i
                                                                        class="fa fa-calendar"></i> &nbsp;25 OCT,
                                                                    2017</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="ne_re_left_top_main_wrapper">
                                                    <div class="ne_re_left_img_main_wrapper">
                                                        <img src="{% static 'user_app/images/content/sp1.jpg' %}"
                                                            alt="img">
                                                        <h2>team work</h2>
                                                    </div>
                                                    <div
                                                        class="ne_re_left_img_cont_main_wrapper ne_buss_img_cont_main_wrapper">
                                                        <h3><a href="#">
                                                                Beats did something today</a></h3>
                                                        <ul class="ne_re_social1_wrapper">
                                                            <li data-animation="animated fadeInLeft"><a href="#"><i
                                                                        class="fa fa-calendar"></i> &nbsp;25 OCT,
                                                                    2017</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="ne_re_left_top_main_wrapper">
                                                    <div class="ne_re_left_img_main_wrapper">
                                                        <img src="{% static 'user_app/images/content/sp1.jpg' %}"
                                                            alt="img">
                                                        <h2>business</h2>
                                                    </div>
                                                    <div
                                                        class="ne_re_left_img_cont_main_wrapper ne_buss_img_cont_main_wrapper">
                                                        <h3><a href="#">Faangs diverge business prospect</a></h3>
                                                        <ul class="ne_re_social1_wrapper">
                                                            <li data-animation="animated fadeInLeft"><a href="#"><i
                                                                        class="fa fa-calendar"></i> &nbsp;25 OCT,
                                                                    2017</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--2 news End-->

<!--fullwidth Start-->
<div class="fullwidth_wrapper space-t space-b">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="ne_busness_main_slider_wrapper aaaaa">
            <div class="ne_recent_heading_main_wrapper middle_heading ">
                <h2>Teaser and Promos</h2>
            </div>
        </div>
    </div>
    <div class="wrap-album-slider">
        <ul class="album-slider">
            <li class="album-slider__item">
                <figure class="album">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="ne_re_left_top_main_wrapper">
                                <div class="ne_re_left_img_main_wrapper yellow">
                                    <img src="{% static 'user_app/images/content/s1.jpg' %}" alt="img">
                                    <h2>style</h2>
                                </div>
                                <div class="ne_re_left_img_cont_main_wrapper">
                                    <h3><a href="#">Award of the year</a></h3>
                                    <ul class="ne_re_social1_wrapper">
                                        <li data-animation="animated fadeInLeft"><a href="#"><i
                                                    class="fa fa-calendar"></i> &nbsp;25 OCT, 2017</a>
                                        </li>
                                        <li data-animation="animated fadeInLeft"><a href="#"><i
                                                    class="fa fa-clock-o"></i> &nbsp;07 : 00 am</a>
                                        </li>
                                    </ul>
                                    <p>This is Photoshop's version of Lorem Ipsum. ean elit. Duis sed odio sit amet
                                        mauris.</p>
                                    <ul class="ne_re_social2_wrapper">
                                        <li data-animation="animated fadeInLeft"><a href="#"><i
                                                    class="fa fa-thumbs-up"></i> &nbsp;5124 Like</a>
                                        </li>
                                        <li data-animation="animated fadeInLeft"><a href="#"><i
                                                    class="fa fa-comments"></i> &nbsp;645 Comments</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </figure>
                <!-- End album -->
            </li>
            <li class="album-slider__item">
                <figure class="album">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="ne_re_left_top_main_wrapper">
                                <div class="ne_re_left_img_main_wrapper yellow">
                                    <img src="{% static 'user_app/images/content/s2.jpg' %}" alt="img">
                                    <h2>style</h2>
                                </div>
                                <div class="ne_re_left_img_cont_main_wrapper">
                                    <h3><a href="#">The clock is ticking </a></h3>
                                    <ul class="ne_re_social1_wrapper">
                                        <li data-animation="animated fadeInLeft"><a href="#"><i
                                                    class="fa fa-calendar"></i> &nbsp;25 OCT, 2017</a>
                                        </li>
                                        <li data-animation="animated fadeInLeft"><a href="#"><i
                                                    class="fa fa-clock-o"></i> &nbsp;07 : 00 am</a>
                                        </li>
                                    </ul>
                                    <p>This is Photoshop's version of Lorem Ipsum. ean elit. Duis sed odio sit amet
                                        mauris.</p>
                                    <ul class="ne_re_social2_wrapper">
                                        <li data-animation="animated fadeInLeft"><a href="#"><i
                                                    class="fa fa-thumbs-up"></i> &nbsp;5124 Like</a>
                                        </li>
                                        <li data-animation="animated fadeInLeft"><a href="#"><i
                                                    class="fa fa-comments"></i> &nbsp;645 Comments</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </figure>
                <!-- End album -->
            </li>
            <li class="album-slider__item">
                <figure class="album">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="ne_re_left_top_main_wrapper">
                                <div class="ne_re_left_img_main_wrapper yellow">
                                    <img src="{% static 'user_app/images/content/s3.jpg' %}" alt="img">
                                    <h2>style</h2>
                                </div>
                                <div class="ne_re_left_img_cont_main_wrapper">
                                    <h3><a href="#">Beats did announce </a></h3>
                                    <ul class="ne_re_social1_wrapper">
                                        <li data-animation="animated fadeInLeft"><a href="#"><i
                                                    class="fa fa-calendar"></i> &nbsp;25 OCT, 2017</a>
                                        </li>
                                        <li data-animation="animated fadeInLeft"><a href="#"><i
                                                    class="fa fa-clock-o"></i> &nbsp;07 : 00 am</a>
                                        </li>
                                    </ul>
                                    <p>This is Photoshop's version of Lorem Ipsum. ean elit. Duis sed odio sit amet
                                        mauris.</p>
                                    <ul class="ne_re_social2_wrapper">
                                        <li data-animation="animated fadeInLeft"><a href="#"><i
                                                    class="fa fa-thumbs-up"></i> &nbsp;5124 Like</a>
                                        </li>
                                        <li data-animation="animated fadeInLeft"><a href="#"><i
                                                    class="fa fa-comments"></i> &nbsp;645 Comments</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </figure>
                <!-- End album -->
            </li>
            <li class="album-slider__item">
                <figure class="album">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="ne_re_left_top_main_wrapper">
                                <div class="ne_re_left_img_main_wrapper yellow">
                                    <img src="{% static 'user_app/images/content/s6.jpg' %}" alt="img">
                                    <h2>style</h2>
                                </div>
                                <div class="ne_re_left_img_cont_main_wrapper">
                                    <h3><a href="#">Black farmers in USA </a></h3>
                                    <ul class="ne_re_social1_wrapper">
                                        <li data-animation="animated fadeInLeft"><a href="#"><i
                                                    class="fa fa-calendar"></i> &nbsp;25 OCT, 2017</a>
                                        </li>
                                        <li data-animation="animated fadeInLeft"><a href="#"><i
                                                    class="fa fa-clock-o"></i> &nbsp;07 : 00 am</a>
                                        </li>
                                    </ul>
                                    <p>This is Photoshop's version of Lorem Ipsum. ean elit. Duis sed odio sit amet
                                        mauris.</p>
                                    <ul class="ne_re_social2_wrapper">
                                        <li data-animation="animated fadeInLeft"><a href="#"><i
                                                    class="fa fa-thumbs-up"></i> &nbsp;5124 Like</a>
                                        </li>
                                        <li data-animation="animated fadeInLeft"><a href="#"><i
                                                    class="fa fa-comments"></i> &nbsp;645 Comments</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </figure>
                <!-- End album -->
            </li>
            <li class="album-slider__item">
                <figure class="album">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="ne_re_left_top_main_wrapper">
                                <div class="ne_re_left_img_main_wrapper yellow">
                                    <img src="{% static 'user_app/images/content/s5.jpg' %}" alt="img">
                                    <h2>style</h2>
                                </div>
                                <div class="ne_re_left_img_cont_main_wrapper">
                                    <h3><a href="#">Easy teriyaki </a></h3>
                                    <ul class="ne_re_social1_wrapper">
                                        <li data-animation="animated fadeInLeft"><a href="#"><i
                                                    class="fa fa-calendar"></i> &nbsp;25 OCT, 2017</a>
                                        </li>
                                        <li data-animation="animated fadeInLeft"><a href="#"><i
                                                    class="fa fa-clock-o"></i> &nbsp;07 : 00 am</a>
                                        </li>
                                    </ul>
                                    <p>This is Photoshop's version of Lorem Ipsum. ean elit. Duis sed odio sit amet
                                        mauris.</p>
                                    <ul class="ne_re_social2_wrapper">
                                        <li data-animation="animated fadeInLeft"><a href="#"><i
                                                    class="fa fa-thumbs-up"></i> &nbsp;5124 Like</a>
                                        </li>
                                        <li data-animation="animated fadeInLeft"><a href="#"><i
                                                    class="fa fa-comments"></i> &nbsp;645 Comments</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </figure>
                <!-- End album -->
            </li>
            <li class="album-slider__item">
                <figure class="album">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="ne_re_left_top_main_wrapper">
                                <div class="ne_re_left_img_main_wrapper yellow">
                                    <img src="{% static 'user_app/images/content/s4.jpg' %}" alt="img">
                                    <h2>style</h2>
                                </div>
                                <div class="ne_re_left_img_cont_main_wrapper">
                                    <h3><a href="#">Award of the year</a></h3>
                                    <ul class="ne_re_social1_wrapper">
                                        <li data-animation="animated fadeInLeft"><a href="#"><i
                                                    class="fa fa-calendar"></i> &nbsp;25 OCT, 2017</a>
                                        </li>
                                        <li data-animation="animated fadeInLeft"><a href="#"><i
                                                    class="fa fa-clock-o"></i> &nbsp;07 : 00 am</a>
                                        </li>
                                    </ul>
                                    <p>This is Photoshop's version of Lorem Ipsum. ean elit. Duis sed odio sit amet
                                        mauris.</p>
                                    <ul class="ne_re_social2_wrapper">
                                        <li data-animation="animated fadeInLeft"><a href="#"><i
                                                    class="fa fa-thumbs-up"></i> &nbsp;5124 Like</a>
                                        </li>
                                        <li data-animation="animated fadeInLeft"><a href="#"><i
                                                    class="fa fa-comments"></i> &nbsp;645 Comments</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </figure>
                <!-- End album -->
            </li>
        </ul>
    </div>
</div>

<!--fullwidth end-->
{% endblock content %}