{% extends "user_app/components/base.html" %}
{% load static %}
{% block content %}
<div class="ne_ts_main_section_wrapper">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="head-space">
                    <div class="ne_recent_heading_main_wrapper">
                        <h2>Teaser and Promose</h2>
                    </div>
                </div>
            </div>
            {% for teaser_and_promose in teaser_and_promoses %}
            <div class="col-md-4 mb-1 ">
                <div class="ne_re_left_top_main_wrapper">
                    <div class="ne_re_left_img_main_wrapper ne_re_left_img_main_wrapper2">
                        <img src="{% static 'user_app/images/content/sp1.jpg' %}" alt="img">
                        <!-- <h2>location report</h2> -->
                    </div>
                    <div class="ne_re_left_img_cont_main_wrapper">
                        <!-- <h3><a href="#">Award of the year</a></h3> -->
                        <ul class="ne_re_social1_wrapper mb-1">
                            <li data-animation="animated fadeInLeft"><a href="#"><i class="fa fa-calendar"></i>
                                    &nbsp;25 OCT, 2017</a>
                            </li>
                            <li data-animation="animated fadeInLeft"><a href="#"><i class="fa fa-user"></i>
                                    &nbsp;Author</a>
                            </li>
                        </ul>
                        <h5>{{ teaser_and_promose.title|truncatechars:100 }}</h5>
                        </p>

                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:2 %}
            <div class="col-md-4 empty-col">
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


<style>
    .empty-col {
        width: 100%;
    }
</style>
{% endblock content %}