{% load static %}
<!-- Footer copyr Wrapper Start -->
<div class="cc_footer_copyr_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="bottom_footer_main">
                    <div class="bottom_footer_wrapper">
                        <p>© Copyright 2019-20 by 365 Days - Design By <a href="#">Dhanwis</a>
                        </p>
                    </div>
                </div>
                <div class="footer_cards_warpper">
                    <div class="footer_cards">
                        <ul>
                            <li><a href="#"><i class="fa fa-cc"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-cc-visa"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-cc-mastercard"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-cc-paypal"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-cc-stripe"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-cc-amex"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-cc-discover"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer copr Wrapper End -->
<!--footer news End-->